/* Custom font styles for nav links */
.nav-link-fonts {
    font-size: 1.25rem !important; /* Adjust this value as needed */
    font-family: 'YourCustomFont', sans-serif; /* Replace 'YourCustomFont' with your desired font family */
    color: #333; /* Adjust the color as needed */
}

/* Position the toggle button in the top right corner */
.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px; /* Adjust the margin as needed */
}

/* Position the close button in the top right corner of the offcanvas */
.offcanvas-header .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* App.css */

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform .6s ease-in-out;
}

.navbar-visible {
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}
